<?xml version="1.0" encoding="utf-8"?><!--
  ~ Created by Aditya on 10/4/17 7:01 PM
  ~ Copyright (c) 2017 All rights reserved.
  ~
  ~ Last modified 10/4/17 7:01 PM
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.githubapi">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".repositoryLanguage.view.LanguageActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".repositoryList.view.RepositoryList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".repositoryDetail.view.RepositoryDetailActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>